@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@color-main: rgb(216, 216, 216);

.App {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: @color-main;
  background-color: #1a1f25;
}
.auth{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.btn{
  cursor: pointer;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__wrapper{
  height: fit-content;
  width: fit-content;
}
.wrapper__btn_google{
  font-size: 45px;
  display: flex;
  align-items: center;
  span{
    font-size: 20px; 
    margin-right: 20px;
    cursor: default;
  }
}
.wrapper__btn_logout{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}
.profile{
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}