@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
.App {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #d8d8d8;
  background-color: #1a1f25;
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.btn {
  cursor: pointer;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__wrapper {
  height: fit-content;
  width: fit-content;
}
.wrapper__btn_google {
  font-size: 45px;
  display: flex;
  align-items: center;
}
.wrapper__btn_google span {
  font-size: 20px;
  margin-right: 20px;
  cursor: default;
}
.logo {
  font-size: large;
  font-weight: 600;
}
.wrapper__btn_logout {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  box-sizing: border-box;
  position: relative;
}
.profile {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.separate_line {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background: white;
  width: 99%;
  border-radius: 10px;
}
.profile__menu {
  position: absolute;
  top: 42px;
  right: 0px;
  background: white;
  height: fit-content;
  width: fit-content;
  min-width: 120px;
  min-height: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}
.profile__menu .menu__logout {
  color: #181818;
}
